{% extends 'partials/base.html' %}
{% load static %}
{% load humanize %}
{% load i18n %}
{% block meta_header %}
    <title>The Oasis Riverside</title>
    <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.png' %}">
    <meta property="og:title" content="The Oasis Riverside" />
    <meta property="og:description" content="The Oasis Riverside – dự án bất động sản ven sông mang đến không gian sống xanh, tiện ích hiện đại và vị trí chiến lược. Khám phá căn hộ cao cấp, thiết kế tinh tế, môi trường trong lành và tiềm năng sinh lời bền vững." />
    <meta property="og:url" content="https://duantheoasisriverside.com/" />
    <meta property="og:image" content="{% static 'assets/img/logo/logo.png' %}" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:site_name" content="The Oasis Riverside" />
{% endblock meta_header %}
{% block content %}
<!-- Banner -->
<div id="home" class="two-banner-wrap">
    <div class="two-banner-slider owl-theme owl-carousel">
        <div class="two-banner-area two-banner-one">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="banner-content">
                            <span style="color: #00C195;">
                                {% trans 'Welcome To The Oasis Riverside' %}
                            </span>
                            <h1>{% trans 'Tuyệt Tác Kiêu Hãnh Ven Sông' %}</h1>
                            <div class="banner-btn">
                                <a class="cmn-banner-btn" href="tel:0909901666">
                                    <i class='bx bx-phone-call'></i>
                                    0909.901.666
                                </a>
                                <a class="banner-right-btn" href="#du_an">
                                    <i class='bx bxs-building-house'></i>
                                    {% trans 'SẢN PHẨM DỰ ÁN' %}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="two-banner-area two-banner-two">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="banner-content">
                            <span style="color: #00C195;">
                                {% trans 'Welcome To The Oasis Riverside' %}
                            </span>
                            <h1>{% trans 'Tuyệt Tác Kiêu Hãnh Ven Sông' %}</h1>
                            <div class="banner-btn">
                                <a class="cmn-banner-btn" href="tel:0909901666">
                                    <i class='bx bx-phone-call'></i>
                                    0909.901.666
                                </a>
                                <a class="banner-right-btn" href="#du_an">
                                    <i class='bx bxs-building-house'></i>
                                    {% trans 'SẢN PHẨM DỰ ÁN' %}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="two-banner-area two-banner-three">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="banner-content">
                            <span style="color: #00C195;">
                                {% trans 'Welcome To The Oasis Riverside' %}
                            </span>
                            <h1>{% trans 'Tuyệt Tác Kiêu Hãnh Ven Sông' %}</h1>
                            <div class="banner-btn">
                                <a class="cmn-banner-btn" href="tel:0909901666">
                                    <i class='bx bx-phone-call'></i>
                                    0909.901.666
                                </a>
                                <a class="banner-right-btn" href="#du_an">
                                    <i class='bx bxs-building-house'></i>
                                    {% trans 'SẢN PHẨM DỰ ÁN' %}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Banner -->

<!-- Start Hotel About Area -->
<div id="about" class="hotel-about-area ptb-120 quicksand-font-family">
    <div class="container">
        <div class="hotel-about-inner">
            <div class="row justify-content-center align-items-center g-5">
                <div class="col-lg-6 col-md-12">
                    <div class="hotel-about-image">
                        <div class="container-fluid">
                            <div class="sp-video-view">
                                <img src="{% static 'assets/img/hotel/about1.jpg' %}" alt="oasis riverside">
                                <a href="https://www.youtube.com/watch?v=3N9hKl3TpAg" class="video-btn popup-youtube">
                                    <i class="bx bx-play"></i> 
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="section-top-title">
                        <div class="main-section-title">
                            <span class="sub-title">{% trans 'GIỚI THIỆU DỰ ÁN' %}</span>
                        </div>
                        <p style="font-size: 13px; margin-bottom: 10px;">{% trans 'Dự án The Oasis Riverside phường Thới Hoà, thành phố Hồ Chí Minh sẽ là khu đô thị phức hợp cao cấp gồm căn hộ, nhà phố shophouses và biệt thự villas được kiến tạo bởi chủ đầu tư uy tín Công ty cổ phần Quốc tế Bắc Sài Gòn SNI có vốn và quản lý bởi chuyên gia nước ngoài đến từ Singapore và Malaysia. Với quy mô 25 ha, The Oasis Riverside gồm có 236 khu phức hợp trung tâm thương mại, 990 căn nhà phố Shophouse, Townhouse, Biệt thự Villa, và 3 toà nhà căn hộ cao cấp thương mại.' %}
{% trans 'The Oasis Riverside khu đô thị ven sông theo phong cách sống hiện đại, văn minh là dự án tiếp nối sự thành công của The Oasis (Làng chuyên gia Việt Sing) tại Thành Phố Hồ Chí Minh (Cũ là Thuận An, tỉnh Bình Dương). Vượt qua mọi giới hạn của một nơi an cư thường thấy, The Oasis Riverside hội tụ những giá trị độc bản khó có thể tìm thấy ở bất cứ nơi đâu. Thiên nhiên ban tặng cho nơi đây một địa thế và vị trí tuyệt đẹp, trở thành nguồn cảm hứng bất tận cho đội ngũ thiết kế, để tạo nên một Tuyệt tác ven sông đầy kiêu hãnh ngay giữa lòng phố thị phồn hoa.' %}</p>
                        <p style="font-size: 13px; margin-bottom: 10px;">{% trans 'Giống như nhiều đô thị phồn vinh trên thế giới gắn liền với những dòng sông xinh đẹp như: Sông Thame (London), sông Seine (Paris), Sông Hàn (Seol),... The Oasis Riverside là "thành phố thu nhỏ" được bao bọc bởi 2 dòng sông Bình Minh - Thị Tính. Những căn biệt thự tọa lạc trên địa thế đắt giá này chính là biểu tượng của sự sang trọng, đẳng cấp và hiếm có.' %}</p>
                        <p style="font-size: 13px;">{% trans 'Biệt Thự The Oasis Riverside sẵn sàng mang lại cho chủ nhân một chuẩn mực sống mới với kiến trúc hoàn mỹ, gần gũi với thiên nhiên và không gian sống riêng tư, biệt lập, an ninh và tiện nghi tối ưu.' %}</p>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12" style="text-align: center;"><img src="{% static 'assets/img/gioi_thieu.png' %}" alt="oasis riverside"></div>
            </div>
        </div>
    </div>
</div>
<!-- End Hotel About Area -->

<!-- Start Process Style Area -->
<div id="vi_tri" class="process-style-area-without-bg pb-100" style="padding-top: 20px;">
    <div class="container">
        <div class="main-section-title">
            <span class="sub-title">{% trans 'VỊ TRÍ XUNG QUANH' %}</span>
        </div>

        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="process-style-accordion">
                    <div class="accordion" id="ProcessAccordion">
                        <div class="accordion-item">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <span>02</span> {% trans '02 Phút' %}
                            </button>
                            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#ProcessAccordion">
                                <div class="accordion-body">
                                    <div class="why-choose-us-item with-border">
                                        <div class="choose-content">
                                            <ul class="list">
                                                <li><i class="bx bx-check-circle"></i> {% trans 'Đại học Quốc tế Việt Đức' %}</li>
                                                <li><i class="bx bx-check-circle"></i> {% trans 'Đại học Thủ Dầu Một' %}</li>
                                                <li><i class="bx bx-check-circle"></i> {% trans 'Khu đô thị và Công nghiệp Mỹ Phước 1' %}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <span>05</span> {% trans '05 Phút' %}
                            </button>
                            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#ProcessAccordion">
                                <div class="accordion-body">
                                    <div class="why-choose-us-item with-border">
                                        <div class="choose-content">
                                            <ul class="list">
                                                <li><i class="bx bx-check-circle"></i> {% trans 'Trung tâm thương mại Go Mall' %}</li>
                                                <li><i class="bx bx-check-circle"></i> {% trans 'Bệnh viên Đa khoa Mỹ Phước' %}</li>
                                                <li><i class="bx bx-check-circle"></i> {% trans 'Khu đô thị và Công nghiệp Mỹ Phước 2,3' %}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <span>10</span> {% trans '10 Phút' %}
                            </button>
                            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#ProcessAccordion">
                                <div class="accordion-body">
                                    <div class="why-choose-us-item with-border">
                                        <div class="choose-content">
                                            <ul class="list">
                                                <li><i class="bx bx-check-circle"></i> {% trans 'Khu du lịch Đại Nam' %}</li>
                                                <li><i class="bx bx-check-circle"></i> {% trans 'Trung tâm hành chính Bình Dương' %}</li>
                                                <li><i class="bx bx-check-circle"></i> {% trans 'Khu đô thị và Công nghiệp VSIPII' %}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                <span>20</span> {% trans '20 Phút' %}
                            </button>
                            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#ProcessAccordion">
                                <div class="accordion-body">
                                    <div class="why-choose-us-item with-border">
                                        <div class="choose-content">
                                            <ul class="list">
                                                <li><i class="bx bx-check-circle"></i> {% trans 'Bệnh viện Đa khoa Bình Dương' %}</li>
                                                <li><i class="bx bx-check-circle"></i> {% trans 'Thành phố Thủ Dầu Một' %}</li>
                                                <li><i class="bx bx-check-circle"></i> {% trans 'Twin Doves Goft Club' %}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                <span>30</span> {% trans '30 Phút' %}
                            </button>
                            <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#ProcessAccordion">
                                <div class="accordion-body">
                                    <div class="why-choose-us-item with-border">
                                        <div class="choose-content">
                                            <ul class="list">
                                                <li><i class="bx bx-check-circle"></i> {% trans 'Trung tâm thương mại Aeon Mall' %}</li>
                                                <li><i class="bx bx-check-circle"></i> {% trans 'Bệnh viện Quốc tế Becamex' %}</li>
                                                <li><i class="bx bx-check-circle"></i> {% trans 'Khu đô thị và Công nghiệp VSIPI' %}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="process-style-wrap-image">
                    <img src="{% static 'assets/img/vitriduan.png' %}" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Process Style Area -->

<!-- START TIỆN ÍCH DỰ ÁN -->
<div id="tien_ich" class="offer-style-area pb-100" style="padding-top: 20px;">
    <div class="container">
        <div class="main-section-title">
            <span class="sub-title">{% trans 'TIỆN ÍCH DỰ ÁN' %}</span>
        </div>

        <div class="offer-style-slider owl-carousel owl-theme">
            <div class="offer-style-card with-black-color">
                <div class="offer-image">
                    <img style="height: 250px !important;;border-radius: 10px" src="{% static 'assets/img/tienichduan1.jpg' %}" alt="Tiện ích dự án">
                </div>
            </div>
            <div class="offer-style-card with-black-color">
                <div class="offer-image">
                    <img style="height: 250px !important;;border-radius: 10px" src="{% static 'assets/img/tienichduan2.jpg' %}" alt="Tiện ích dự án">
                </div>
            </div>
            <div class="offer-style-card with-black-color">
                <div class="offer-image">
                    <img style="height: 250px !important;;border-radius: 10px" src="{% static 'assets/img/tienichduan3.jpg' %}" alt="Tiện ích dự án">
                </div>
            </div>
            <div class="offer-style-card with-black-color">
                <div class="offer-image">
                    <img style="height: 250px !important;;border-radius: 10px" src="{% static 'assets/img/tienichduan4.jpg' %}" alt="Tiện ích dự án">
                </div>
            </div>
            <div class="offer-style-card with-black-color">
                <div class="offer-image">
                    <img style="height: 250px !important;;border-radius: 10px" src="{% static 'assets/img/tienichduan5.jpg' %}" alt="Tiện ích dự án">
                </div>
            </div>
            <div class="offer-style-card with-black-color">
                <div class="offer-image">
                    <img style="height: 250px !important;;border-radius: 10px" src="{% static 'assets/img/tienichduan6.jpg' %}" alt="Tiện ích dự án">
                </div>
            </div>
            <div class="offer-style-card with-black-color">
                <div class="offer-image">
                    <img style="height: 250px !important;;border-radius: 10px" src="{% static 'assets/img/tienichduan7.jpg' %}" alt="Tiện ích dự án">
                </div>
            </div>
            <div class="offer-style-card with-black-color">
                <div class="offer-image">
                    <img style="height: 250px !important;;border-radius: 10px" src="{% static 'assets/img/tienichduan8.jpg' %}" alt="Tiện ích dự án">
                </div>
            </div>
            <div class="offer-style-card with-black-color">
                <div class="offer-image">
                    <img style="height: 250px !important;;border-radius: 10px" src="{% static 'assets/img/tienichduan9.jpg' %}" alt="Tiện ích dự án">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End TIỆN ÍCH DỰ ÁN -->

<!-- Start REAP Properties Area -->
<div id="du_an" class="reap-properties-area pb-100" style="padding-top: 20px;">
    <div class="container">
        <div class="main-section-title">
            <span class="sub-title">{% trans 'SẢN PHẨM DỰ ÁN' %}</span>
        </div>
        <div class="reap-properties-items">
            {% for p in products %}
            <div class="item">
                <a href="{% url 'core:product-detail' p.pid %}">
                    {% if p.p_images.all %}
                    <img src="{{ p.p_images.all.0.images.url }}" alt="{{ p.title }}">
                    {% endif %}
                </a>
                <div class="content">
                    <div class="top">
                        <div class="price">{{ p.title }}</div>
                    </div>
                    <!-- <h3>
                        <a href="{% url 'core:product-detail' p.pid %}">{{ p.title }}</a>
                    </h3> -->
                    <p>{{ p.mini_description|safe }}</p>
                    <div class="bottom">
                        <a href="{% url 'core:product-detail' p.pid %}" class="view-btn">{% trans 'Xem chi tiết' %}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- End REAP Properties Area -->

<!-- Start Hotel Tong Quan Area -->
<div id="tong_quan" class="hotel-deals-area pb-100 quicksand-font-family" style="padding-top: 20px;">
    <div class="container">
        <div class="main-section-title">
            <span class="sub-title">{% trans 'SỰ KIỆN DỰ ÁN' %}</span>
        </div>
        <div class="row justify-content-center g-4">
            <div class="col-lg-4 col-md-6">
                <div class="hotel-deals-card">
                    <div class="image">
                        <div style="position:relative; width:100%; height:0px; padding-bottom:56.250%"><iframe allow="fullscreen;autoplay" allowfullscreen height="100%" src="https://streamable.com/e/uchib9?autoplay=1&muted=1" width="100%" style="border:none; width:100%; height:100%; position:absolute; left:0px; top:0px; overflow:hidden;border-radius: 10px;"></iframe></div>
                    </div>
                    <div class="content">
                        <h3>{% trans 'Lễ khởi công dự án The Oasis Riverside' %}</h3>
                        <p>{% trans 'Lễ khởi công dự án The Oasis Riverside diễn ra ngày 7/8/2025, đánh dấu bước khởi đầu quan trọng cho một khu đô thị hiện đại bên sông. Với tầm nhìn kiến tạo không gian sống xanh, tiện nghi và đẳng cấp, dự án hứa hẹn mang đến cộng đồng thịnh vượng, hòa hợp cùng thiên nhiên.' %}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="hotel-deals-card">
                    <div class="image">
                        <div style="position:relative; width:100%; height:0px; padding-bottom:56.250%"><iframe allow="fullscreen;autoplay" allowfullscreen height="100%" src="https://streamable.com/e/l6s4ph?autoplay=1&muted=1" width="100%" style="border:none; width:100%; height:100%; position:absolute; left:0px; top:0px; overflow:hidden;border-radius: 10px;"></iframe></div>
                    </div>
                    <div class="content">
                        <h3>{% trans 'The Oasis Riverside' %}</h3>
                        <p>{% trans 'The Oasis Riverside là dự án khu đô thị ven sông hiện đại, kết hợp không gian sống xanh cùng tiện ích cao cấp. Với vị trí đắc địa, quy hoạch đồng bộ và thiết kế tinh tế, dự án mang đến môi trường trong lành, cộng đồng văn minh, đáp ứng nhu cầu an cư và tận hưởng cuộc sống.' %}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="hotel-deals-card">
                    <div class="image">
                        <div style="position:relative; width:100%; height:0px; padding-bottom:56.250%"><iframe allow="fullscreen;autoplay" allowfullscreen height="100%" src="https://streamable.com/e/3bkx83?autoplay=1&muted=1" width="100%" style="border:none; width:100%; height:100%; position:absolute; left:0px; top:0px; overflow:hidden;border-radius: 10px;"></iframe></div>
                    </div>
                    <div class="content">
                        <h3>{% trans 'The Oasis Riverside' %}</h3>
                        <p>{% trans 'The Oasis Riverside mang đến không gian sống hiện đại, gần gũi thiên nhiên. Dự án sở hữu vị trí thuận lợi, hạ tầng hoàn thiện, tiện ích đa dạng, hướng đến cộng đồng trẻ năng động, văn minh, đồng thời khẳng định phong cách sống xanh và bền vững.' %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Hotel Deals Area -->

<!-- Start Information Area -->
<div id="contact" class="information-area with-bg-main-color" style="padding-top: 5px;">
    <div class="container">
        <div class="let-contact-form-with-gray-color">
            <div class="main-section-title">
                <h2>{% trans 'Liên hệ với tôi' %}</h2>
            </div>

            <form method="POST" id="contact-form-ajax" action="">
                {% csrf_token %}
                <div class="row m-0">
                    <div class="col-sm-6 col-lg-6">
                        <div class="form-group">
                            <label>{% trans 'Name' %}</label>
                            <input type="text" name="full_name" id="full_name" required="" class="form-control" placeholder="{% trans 'Tên của bạn' %}" required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-6">
                        <div class="form-group">
                            <label>{% trans 'Email' %}</label>
                            <input type="text" name="email" id="email" class="form-control" required="" placeholder="{% trans 'Email của bạn' %}" required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-6">
                        <div class="form-group">
                            <label>{% trans 'Phone Number' %}</label>
                            <input type="text" name="phone" id="phone" required="" class="form-control" placeholder="{% trans 'Số điện thoại của bạn' %}" required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>

                    <div class="col-md-12 col-lg-12">
                        <div class="form-group">
                            <label>{% trans 'Your Message' %}</label>
                            <textarea name="message" class="form-control" id="message" required="" cols="30" rows="8" placeholder="{% trans 'Mình đang quan tâm về dự án...' %}" required></textarea>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>

                    <div class="col-md-12 col-lg-12">
                        <div class="let-contact-btn">
                            <button id="btn_submit" type="submit" class="main-default-btn">{% trans 'Gửi tin nhắn' %}</button>
                            <div id="msgSubmit" class="h3 text-center hidden"></div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </form>
            
            <div class="let-contact-shape">
                <img src="{% static 'assets/img/more-home/let-contact-shape.png' %}" alt="image">
            </div>
        </div>
    </div>

    <div class="information-shape-1">
        <img src="{% static 'assets/img/more-home/information-shape-1.png' %}" alt="image">
    </div>
    <div class="information-shape-2">
        <img src="{% static 'assets/img/more-home/information-shape-2.png' %}" alt="image">
    </div>
</div>
<!-- End Information Area -->

<div id="vr360" class="hotel-deals-area ptb-120 quicksand-font-family">
    <div class="container">
        <div class="main-section-title">
            <span class="sub-title">{% trans 'VR360' %}</span>
        </div>
        <div class="row justify-content-center g-4">
            <div class="col-lg-12 col-md-12">
                <iframe width="100%" height="600px" allowfullscreen frameborder="0" src="https://360vr.com.vn/projects/theoasisriverside/"></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock content %}